<div class="bmm-footer-grid">
    <div class="bmm-c4hu">
        <a href="https://code4.hu/">
            <img alt="C4HU" class="bmm-footer-logo" src="/img/c4hu-logo.svg">
        </a>
    </div>
    <div class="bmm-kmonitor">
        <a href="https://k-monitor.hu/">
            <img alt="K-Monitor" class="bmm-footer-logo" src="/img/kmonitor-white.png">
        </a>
    </div>
    <div class="bmm-adatkezelesi">
        <a href="https://adatbazis.k-monitor.hu/egyeb/adatkezelesi-tajekoztato">Adatkezelési tájékoztató</a> &copy; 2023
    </div>
</div>
